.footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 232px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: 1200px) {
      gap: 9px;
      align-items: flex-start;
    }
}

.address__geotag {
  color: var(--primary-white-color);
  line-height: calc(24 / 14);
  font-style: normal;
  
  transition: color var(--primary-transition);
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link {
  color: var(--footer-contacts-color);
  line-height: calc(24 / 14);
  font-style: normal;

  transition: color var(--primary-transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
