.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--primary-transition), border-color var(--primary-transition);
  outline: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__logo {
  fill: currentColor;
}
