.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  max-width: 450px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.features__image {
  display: block;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  background-color: var(--secondary-background-color);
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  font-weight: 400;
  line-height: calc(24 / 14);
}
