.footer {
  margin-right: auto;
  margin-left: auto;
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-right: 0px;
  padding-bottom: 60px;
  padding-left: 0;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__address {
    margin-right: 70px;
  }

  &__socials {
    margin-right: 93px;
  }

  &__title {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-white-color);
    text-transform: uppercase;
    line-height: calc(16 / 14);
  }
}
