.form {
  text-align: center;
}

.form__title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--title-text-color);
}

.form__group {
  margin-bottom: 20px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__input {
  height: 40px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 42px;
  font-size: 16px;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border var(--primary-transition);

  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--title-text-color);
  transition: fill var(--primary-transition);

  .form__input:focus + & {
    fill: var(--accent-color);
  }
}

.form__textarea {
  margin-bottom: 0;
}

.comment {
  resize: none;
  height: 120px;
  padding-left: 16px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: calc(24 / 14);
  color: var(--primary-text-color);
}

.checkbox__icon {
  margin-right: 10px;
}

.checkbox__icon--empty {
  fill: var(--title-text-color);
  opacity: 1;
  transition: opacity var(--primary-transition);

  .checkbox__input:checked + .checkbox__icon & {
    opacity: 0;
  }
}

.checkbox__icon--checked {
  fill: var(--accent-color);
  opacity: 0;
  transition: opacity var(--primary-transition);

  .checkbox__input:checked + .checkbox__icon & {
    opacity: 1;
  }
}

.checkbox__text {
  user-select: none;
}

.terms {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    bottom: 1.5px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
  }
}

.form__button {
  @extend %button;
  @extend %primary-button;
}
