.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--primary-transition), background-color var(--primary-transition) 50ms;

  .backdrop.is-hidden & {
    perspective: 10px;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--accent-color);
  }
}
