.subscribe__input {
  width: 358px;
  height: 50px;
  align-items: center;
  padding-left: 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--primary-white-color);

  &::placeholder {
    color: var(--footer-contacts-color);
  }
}

.subscribe__button {
  @extend %button;
  @extend %primary-button;
}

.subscribe__text {
  margin-right: 10px;
}

.subscribe__icon {
  fill: var(--primary-white-color);
}
