body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;

  &.menu-open {
    @media screen and (max-width: 767px) {
      overflow: hidden;
    }
  }
}

.no-scroll {
  overflow: hidden;
}